@charset "utf-8";

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow: hidden;
}

svg {
  display: block;
  margin: 20px auto;
  width: 400px;
}

#hippo,
#elephant,
#star {
  visibility: hidden;
}

#slider {
  width: 420px;
  margin: 20px auto;
}

.node1 {
  position: absolute;
  width: 100px;
  background: #666;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.node2 {
  position: absolute;
  width: 100px;
  background: #f99;
  left: 300px;
  padding: 10px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img,
input {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  outline: 0;
  text-decoration: none;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

span.vcenter {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#carcasa {
  opacity: 0;
  // background: rgba(255, 255, 255, 1);
  background: #191919;
}

.fondoFull {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  opacity: 0;
  transition: opacity 600ms linear;
}

.fondoFull.show {
  opacity: 1;
}

h5 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.panzoom {
  transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.panzoom2 {
  transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}

/* .panzoom:hover {
    transform:scale(2);
    -ms-transform:scale(2); 
    -moz-transform:scale(2); 
    -webkit-transform:scale(2); 
    -o-transform:scale(2); 
    z-index: 2;
    background-color: white;
} */

.blureffect {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.panzoomHov {
  transform: scale(2);
  -ms-transform: scale(2);
  /* IE 9 */
  -moz-transform: scale(2);
  /* Firefox */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  z-index: 2;
}

.especialMC2 {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -moz-transform: scale(1.5);
  /* Firefox */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  z-index: 1.5;
}

#particles-js {
  width: 100%;
  height: 100%;
  /* background-color: #b61924;
  background-image: url(''); */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 999;
}

.video_press {
  width: 100%;
  z-index: 999999;
  position: absolute;
}

.baw {
  filter: grayscale(1);
}

%boton {
  position: absolute;
  cursor: pointer;
  transition-property: transform;
}

%boton:hover {
  transform: scale(1.1);
}

.hoverZoom {
  transition: all 0.5s ease-out;
}

.zoomed {
  transform: scale(1.3);
  background-color: rgba(255, 255, 255, 0.75) !important;
  z-index: 1;
}

/*******************************************************************************/

/**********************************  Hoja 01  **********************************/

/*******************************************************************************/

.slides {
  .logo {
    position: absolute;
    left: 60px;
    top: 900px;
  }

  .logo_d {
    position: absolute;
    left: 1665px;
    top: 900px;
  }
}

.PG_1 {
  .escuela {
    position: absolute;
    left: 495px;
    top: 365px;
  }

  .top_bar {
    position: absolute;
    left: 890px;
    top: 375px;
  }

  .bottom_bar {
    position: absolute;
    left: 490px;
    top: 645px;
  }

  .logos {
    position: absolute;
    left: 490px;
    top: 715px;
  }

  .letras {
    img {
      mix-blend-mode: multiply;
    }
  }

  .a {
    position: absolute;
    left: 373px;
    top: 998px;
  }

  .b {
    position: absolute;
    left: 496px;
    top: 925px;
  }

  .c {
    position: absolute;
    left: 693px;
    top: 978px;
  }

  .d {
    position: absolute;
    left: 328px;
    top: 926px;
  }

  .e {
    position: absolute;
    left: 938px;
    top: 998px;
  }

  .f {
    position: absolute;
    left: 1200px;
    top: 986px;
  }

  .g {
    position: absolute;
    left: 1370px;
    top: 924px;
  }




  .crane {
    position: absolute;
    left: 1295px;
    top: 290px;
    width: 140px;
    height: 305px;

    img {
      margin-top: -25px;
    }
  }

  .title {
    position: absolute;
    left: 334px;
    top: 274px;
  }
}

.PG_2 {

  .text_1 {
    position: absolute;
    left : 134px;
  top : 336px;
  }

  .text_2 {
    position: absolute;
    left: 135px;
    top: 440px;
  }

  .text_3 {
    position: absolute;
    left: 939px;
    top: 6px;
  }

  .continuar {
    @extend %boton;
    left: 134px;
    top: 816px;
  }
}

.PG_3 {

  .text_1 {
    position: absolute;
    left: 134px;
    top: 260px;
  }

  .text_2 {
    position: absolute;
    left: 138px;
    top: 367px;
  }

  .text_3 {
    position: absolute;
    left: 137px;
    top: 593px;
  }

  .text_4 {
    position: absolute;
    left: 282px;
    top: 593px;
  }

  .text_5 {
    position: absolute;
    left: 415px;
    top: 593px;
  }

  .text_6 {
    position: absolute;
    left: 571px;
    top: 593px;
  }

  .text_7 {
    position: absolute;
    left: 716px;
    top: 593px;
  }

  .text_8 {
    position: absolute;
    left: 1029px;
    top: 8px;
  }

  .continuar {
    @extend %boton;
    left: 134px;
    top: 816px;
  }
}

.PG_4 {

  .text_1 {
    position: absolute;
    left: 135px;
    top: 387px;
  }

  .text_2 {
    position: absolute;
    left: 1029px;
    top: 8px;
  }

  .continuar {
    @extend %boton;
    left: 134px;
    top: 680px;
  }
}

.PG_5 {
  .text_1 {
    position: absolute;
    left: 883px;
    top: 251px;
  }

  .text_2 {
    position: absolute;
    left: 529px;
    top: 433px;
  }
}

.PG_6 {
  .text_1 {
    position: absolute;
    left: 355px;
    top: 92px;
  }

  .text_2 {
    position: absolute;
    left: 712px;
    top: 316px;
  }

  .icon_1 {
    @extend %boton;
    left: 106px;
    top: 412px;
  }

  .icon_2 {
    @extend %boton;
    left: 1248px;
    top: 412px;
  }

  .continuar {
    @extend %boton;
    left: 1331px;
    top: 936px;
  }

  .pop_1,
  .pop_2 {
    .icon1 {
      position: absolute;
      left: 449px;
    top: 269px;
    }

    .icon2 {
      position: absolute;
      left: 686px;
      top: 234px;
    }

    .icon3 {
      position: absolute;
      left: 573px;
      top: 421px;
    }

    .back0 {
      @extend %boton;
      left: 851px;
      top: 681px;
    }
  }
}

.PG_7 {
  .text_1 {
    position: absolute;
    left: 148px;
    top: 467px;
  }

  .text_2 {
    position: absolute;
    left: 1029px;
    top: 7px;
  }

  .continuar {
    @extend %boton;
    left: 144px;
    top: 663px;
  }
}

.PG_8 {
  .text_1 {
    position: absolute;
    left: 525px;
    top: 95px;
  }

  .p_1 {
    position: absolute;
    left: 80px;
    top: 280px;
  }

  .p_2 {
    position: absolute;
    left: 849px;
    top: 308px;
  }

  .p_3 {
    position: absolute;
    left: 1400px;
    top: 289px;
  }

  .m_1 {
    position: absolute;
    left: 410px;
    top: 231px;
  }

  .m_2 {
    position: absolute;
    left: 697px;
    top: 315px;
  }

  .m_3 {
    position: absolute;
    left: 1256px;
    top: 277px;
  }

  .b_1 {
    @extend %boton;
    left: 344px;
    top: 169px;
  }

  .b_2 {
    @extend %boton;
    left: 705px;
    top: 542px;
  }

  .b_3 {
    @extend %boton;
    left: 1295px;
    top: 209px;
  }

  .continuar {
    @extend %boton;
    left: 1607px;
    top: 99px;
  }
}

.PG_9 {
  .text_1 {
    position: absolute;
    left: 136px;
    top: 220px;
  }

  .text_2 {
    position: absolute;
    left: 270px;
    top: 360px;
  }

  .text_3 {
    position: absolute;
    left: 137px;
    top: 497px;
  }

  .text_4 {
    position: absolute;
    left: 643px;
    top: 360px;
  }

  .text_5 {
    position: absolute;
    left: 586px;
    top: 498px;
  }

  .text_6 {
    position: absolute;
    left: 932px;
    top: 360px;
  }

  .text_7 {
    position: absolute;
    left: 873px;
    top: 498px;
  }

  .text_8 {
    position: absolute;
    left: 1119px;
    top: 82px;
  }

  .continuar {
    @extend %boton;
    left: 584px;
    top: 885px;
  }
}

.PG_10 {
  .text_1 {
    position: absolute;
    left: 138px;
    top: 372px;
  }

  .text_2 {
    position: absolute;
    left: 715px;
    top: 8px;
  }

  .text_3 {
    position: absolute;
    left: 1210px;
    top: 62px;
  }

  .continuar {
    @extend %boton;
    left: 140px;
    top: 728px;
  }
}

.PG_11 {
  .text_1 {
    position: absolute;
    left: 883px;
    top: 176px;
  }

  .text_2 {
    position: absolute;
    left: 368px;
    top: 349px;
  }

}


.PG_12 {
  .text_1 {
    position: absolute;
    left: 441px;
    top: 174px;
  }

  .icon_1 {
    @extend %boton;
    left: 220px;
    top: 430px;
  }

  .icon_2 {
    @extend %boton;
    left: 761px;
    top: 430px;
  }

  .icon_3 {
    @extend %boton;
    left: 1303px;
    top: 430px;
  }

  .continuar {
    @extend %boton;
    left: 851px;
    top: 900px;
  }

  .pop_1 {
    .icon1 {
      position: absolute;
      left: 451px;
      top: 287px;
    }

    .icon2 {
      position: absolute;
      left: 686px;
      top: 234px;
    }

    .icon3 {
      position: absolute;
      left: 628px;
    top: 433px;
    }

    .back0 {
      @extend %boton;
      left: 851px;
      top: 799px;
    }
  }

  .pop_2 {
    .icon1 {
      position: absolute;
      left: 451px;
      top: 287px;
    }

    .icon2 {
      position: absolute;
      left: 590px;
      top: 234px;
    }

    .icon3 {
      position: absolute;
      left: 573px;
      top: 552px;
    }

    .back0 {
      @extend %boton;
      left: 851px;
      top: 718px;
    }
  }

  .pop_3 {
    .icon1 {
      position: absolute;
      left: 451px;
      top: 287px;
    }

    .icon2 {
      position: absolute;
      left: 686px;
      top: 234px;
    }

    .icon3 {
      position: absolute;
      left: 573px;
      top: 521px;
    }

    .back0 {
      @extend %boton;
      left: 841px;
      top: 721px;
    }
  }


}

.PG_13 {
  .txp_1 {
    position: absolute;
    left: 137px;
    top: 212px;
  }

  .txp_2 {
    position: absolute;
    left: 157px;
    top: 471px;
  }

  .txp_3 {
    @extend %boton;
    left: 237px;
    top: 516px;
  }

  .txp_4 {
    @extend %boton;
    left: 563px;
    top: 516px;
  }
  .txp_4a {
    position: absolute;
    left: 691px;
    top: 464px;
  }
  .txp_6a {
    position: absolute;
    left: 563px;
    top: 589px;
  }
  .txp_9a {
    position: absolute;
    left: 752px;
    top: 727px;
  }

  .txp_5 {
    position: absolute;
    left: 157px;
    top: 597px;
  }

  .txp_6 {
    @extend %boton;
    left: 339px;
    top: 642px;
  }

  .txp_7 {
    @extend %boton;
    left: 557px;
    top: 642px;
  }

  .txp_8 {
    position: absolute;
    left: 120px;
    top: 735px;
  }

  .txp_9 {
    @extend %boton;
    left: 237px;
    top: 781px;
  }

  .txp_10 {
    @extend %boton;
    left: 563px;
    top: 781px;
  }

  .txp_11 {
    position: absolute;
    left: 1076px;
    top: 8px;
  }

  .continuar {
    @extend %boton;
    left: 416px;
    top: 892px;
  }
}

.PG_14 {
  .text_1 {
    position: absolute;
    left: 658px;
    top: 87px;
  }

  .text_2 {
    position: absolute;
    left: 247px;
    top: 256px;
  }

  .continuar {
    @extend %boton;
    left: 851px;
    top: 921px;
  }
}

.PG_15 {
  .text_1 {
    position: absolute;
    left: 361px;
    top: 92px;
  }

  .text_2 {
    position: absolute;
    left: 722px;
    top: 166px;
  }

  .text_3 {
    @extend %boton;
    left: 260px;
    top: 492px;
  }

  .text_4 {
    @extend %boton;
    left: 1294px;
    top: 492px;
  }
}

.PG_16 {
  .text_1 {
    position: absolute;
    left: 175px;
    top: 363px;
  }

  .text_2 {
    position: absolute;
    left: 758px;
    top: 8px;
  }

  .continuar {
    @extend %boton;
    left: 177px;
    top: 660px;
  }
}

.PG_17 {
  .text_1 {
    position: absolute;
    left: 883px;
    top: 272px;
  }

  .text_2 {
    position: absolute;
    left: 363px;
    top: 494px;
  }
}

.PG_18 {
  .text_1 {
    position: absolute;
    left: 509px;
    top: 95px;
  }

  .text_2 {
    position: absolute;
    left: 642px;
    top: 316px;
  }

  .icon_1 {
    @extend %boton;
    left: 106px;
    top: 412px;
  }

  .icon_2 {
    @extend %boton;
    left: 1248px;
    top: 412px;
  }

  .continuar {
    @extend %boton;
    left: 1331px;
    top: 936px;
  }

  .pop_1 {
    .icon5 {
      position: absolute;
      left: 239px;
      top: 159px;
    }

    .icon6 {
      position: absolute;
      left: 217px;
      top: 280px;
    }

    .icon7 {
      position: absolute;
      left: 68px;
      top: 493px;
    }

    .icon8 {
      position: absolute;
      left: 151px;
      top: 415px;
    }

    .icon9 {
      position: absolute;
      left: 176px;
      top: 638px;
    }

    .icon10 {
      position: absolute;
      left: 533px;
      top: 603px;
    }

    .icon12 {
      position: absolute;
      left: 1171px;
      top: 281px;
    }

    .icon13 {
      position: absolute;
      left: 1706px;
      top: 285px;
    }

    .icon14 {
      position: absolute;
      left: 1640px;
      top: 251px;
    }

    .icon15 {
      position: absolute;
      left: 1671px;
      top: 547px;
    }

    .icon16 {
      position: absolute;
      left: 1356px;
      top: 443px;
    }

    .icon17 {
      position: absolute;
      left: 1380px;
      top: 260px;
    }

    .back0 {
      @extend %boton;
      left: 851px;
      top: 681px;
    }
  }

  .pop_2 {
    .icon18 {
      position: absolute;
      left: 239px;
      top: 179px;
    }

    .icon19 {
      position: absolute;
      left: 80px;
      top: 325px;
    }

    .icon20 {
      position: absolute;
      left: 80px;
      top: 367px;
    }

    .icon21 {
      position: absolute;
      left: 1425px;
      top: 331px;
    }

    .icon22 {
      position: absolute;
      left: 1617px;
      top: 201px;
    }

    .icon23 {
      position: absolute;
      left: 1379px;
      top: 464px;
    }

    .back0 {
      @extend %boton;
      left: 851px;
      top: 731px;
    }
  }

}

.PG_19 {
  .text_1 {
    position: absolute;
    left: 393px;
    top: 29px;
  }

  .text_1a {
    position: absolute;
    left: 660px;
    top: 122px;
  }

  .text_2 {
    position: absolute;
    left: 154px;
    top: 275px;
  }

  .text_3 {
    position: absolute;
    left: 475px;
    top: 378px;
  }

  .text_4 {
    position: absolute;
    left: 816px;
    top: 275px;
  }

  .text_5 {
    position: absolute;
    left: 1161px;
    top: 378px;
  }

  .text_6 {
    position: absolute;
    left: 1513px;
    top: 275px;
  }

  .text_7 {
    position: absolute;
    left: 1501px;
    top: 528px;
  }

  .text_8 {
    position: absolute;
    left: 337px;
    top: 723px;
  }

  .continuar {
    @extend %boton;
    left: 851px;
    top: 929px;
  }
}


.PG_20 {
  .text_1 {
    position: absolute;
    left: 518px;
    top: 116px;
  }

  .text_2 {
    @extend %boton;
    left: 180px;
    top: 309px;
  }

  .text_3 {
    position: absolute;
    pointer-events: none;
    left: 247px;
    top: 278px;
  }

  .text_4 {
    @extend %boton;
    left: 717px;
    top: 309px;
  }

  .text_5 {
    pointer-events: none;
    position: absolute;
    left: 784px;
    top: 278px;
  }

  .text_6 {
    @extend %boton;
    left: 1245px;
    top: 309px;
  }

  .text_7 {
    pointer-events: none;
    position: absolute;
    left: 1306px;
    top: 278px;
  }

}


.PG_21 {
  .text_1 {
    position: absolute;
    left: -353px;
    top: -923px;
  }

  .text_2 {
    position: absolute;
    left: 1043px;
    top: 367px;
  }

  .continuar {
    @extend %boton;
    left: 1305px;
    top: 686px;
  }
}

.PG_22 {
  .text_1 {
    position: absolute;
    left: 262px;
    top: 143px;
  }

  .text_2 {
    position: absolute;
    left: 266px;
    top: 377px;
  }

  .text_3 {
    position: absolute;
    left: 163px;
    top: 543px;
  }

  .text_4 {
    position: absolute;
    left: 682px;
    top: 377px;
  }

  .text_5 {
    position: absolute;
    left: 569px;
    top: 543px;
  }

  .text_6 {
    position: absolute;
    left: 1079px;
    top: 377px;
  }

  .text_7 {
    position: absolute;
    left: 975px;
    top: 543px;
  }

  .text_8 {
    position: absolute;
    left: 1499px;
    top: 377px;
  }

  .text_9 {
    position: absolute;
    left: 1381px;
    top: 543px;
  }

  .continuar {
    @extend %boton;
    left: 851px;
    top: 864px;
  }
}

.PG_23 {
  .text_1 {
    position: absolute;
    left: 883px;
    top: 142px;
  }

  .text_2 {
    position: absolute;
    left: 334px;
    top: 347px;
  }
}

.PG_24 {
  .text_1 {
    position: absolute;
    left: 138px;
    top: 509px;
  }

  .text_2 {
    position: absolute;
    left: 715px;
    top: 7px;
  }

  .text_3 {
    position: absolute;
    left: 1210px;
    top: 62px;
  }

  .continuar {
    @extend %boton;
    left: 140px;
    top: 609px;
  }

  .pop_1 {
    .t_1 {
      position: absolute;
      left: 389px;
    top: 279px;
    }

    .t_2 {
      position: absolute;
      left: 686px;
      top: 234px;
    }

    .t_3 {
      position: absolute;
      left: 527px;
      top: 407px;
    }

    .btnA {
      @extend %boton;
      left: 853px;
      top: 755px;
    }
  }
}

.PG_25 {
  .ap1 {
    position: absolute;
    left: 1018px;
    top: -79px;
  }

  .pas_1 {
    position: absolute;
    left: 1249px;
    top: 26px;
  }

  .ap2 {
    position: absolute;
    left: -1674px;
    top: -923px;
  }

  .ap3 {
    position: absolute;
    left: 1071px;
    top: 292px;
  }

  .ap4 {
    @extend %boton;
    left: 1286px;
    top: 764px;
  }

  .ap5 {
    @extend %boton;
    left: 1448px;
    top: 764px;
  }

  .pop_1 {
    .post_1 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_2 {
      position: absolute;
      left: 536px;
      top: 482px;
    }

    .post_3 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }

  .pop_2 {
    .post_4 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_5 {
      position: absolute;
      left: 536px;
      top: 482px;
    }

    .post_6 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }
}

.PG_26 {
  .ap1 {
    position: absolute;
    left: 1018px;
    top: -79px;
  }

  .pas_1 {
    position: absolute;
    left: 1249px;
    top: 26px;
  }

  .ap2 {
    position: absolute;
    left: -2323px;
    top: -923px;
  }

  .ap3 {
    position: absolute;
    left: 1071px;
    top: 292px;
  }

  .ap4 {
    @extend %boton;
    left: 1286px;
    top: 764px;
  }

  .ap5 {
    @extend %boton;
    left: 1448px;
    top: 764px;
  }

  .pop_1 {
    .post_1 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_2 {
      position: absolute;
      left: 511px;
      top: 428px;
    }

    .post_3 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }

  .pop_2 {
    .post_4 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_5 {
      position: absolute;
      left: 511px;
      top: 418px;
    }

    .post_6 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }
}

.PG_27 {
  .ap1 {
    position: absolute;
    left: 1018px;
    top: -79px;
  }

  .pas_1 {
    position: absolute;
    left: 1249px;
    top: 26px;
  }

  .ap2 {
    position: absolute;
    left: -658px;
    top: -923px;
  }

  .ap3 {
    position: absolute;
    left: 1071px;
    top: 292px;
  }

  .ap4 {
    @extend %boton;
    left: 1286px;
    top: 764px;
  }

  .ap5 {
    @extend %boton;
    left: 1448px;
    top: 764px;
  }

  .pop_1 {
    .post_1 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_2 {
      position: absolute;
      left: 511px;
      top: 428px;
    }

    .post_3 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }

  .pop_2 {
    .post_4 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_5 {
      position: absolute;
      left: 511px;
      top: 418px;
    }

    .post_6 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }
}

.PG_28 {
  .ap1 {
    position: absolute;
    left: 1018px;
    top: -79px;
  }

  .pas_1 {
    position: absolute;
    left: 1249px;
    top: 26px;
  }

  .ap2 {
    position: absolute;
    left: -1674px;
    top: -923px;
  }

  .ap3 {
    position: absolute;
    left: 1071px;
    top: 292px;
  }

  .ap4 {
    @extend %boton;
    left: 1286px;
    top: 764px;
  }

  .ap5 {
    @extend %boton;
    left: 1448px;
    top: 764px;
  }

  .pop_1 {
    .post_1 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_2 {
      position: absolute;
      left: 536px;
      top: 449px;
    }

    .post_3 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }

  .pop_2 {
    .post_4 {
      position: absolute;
      left: 226px;
      top: 205px;
    }

    .post_5 {
      position: absolute;
      left: 536px;
      top: 449px;
    }

    .post_6 {
      position: absolute;
      left: 1208px;
      top: 95px;
    }

    .back0 {
      @extend %boton;
      left: 753px;
      top: 659px;
    }
  }
}

.PG_29 {
  .text_1 {
    position: absolute;
    left: 577px;
    top: 362px;
  }

  .text_2 {
    position: absolute;
    left: 630px;
    top: 542px;
  }

  .text_3 {
    position: absolute;
    left: 87px;
    top: 100px;
  }

  .text_4 {
    position: absolute;
    left: 1119px;
    top: 73px;
  }

  .continuar {
    @extend %boton;
    left: 851px;
    top: 694px;
  }

}

.PG_30 {
  .text_1 {
    position: absolute;
    left: 883px;
    top: 232px;
  }

  .text_2 {
    position: absolute;
    left: 181px;
    top: 443px;
  }

}

.PG_31 {
  .text_1 {
    position: absolute;
    left: 224px;
    top: 218px;
  }

  .text_2 {
    position: absolute;
    left: 1122px;
    top: 17px;
  }

  .ima_1 {
    position: absolute;
    left: -263px;
    top: -150px;
  }

  .ima_2 {
    position: absolute;
    left: -248px;
    top: -171px;
  }

  .ima_3 {
    position: absolute;
    left: -248px;
    top: -171px;
  }

  .ima_4 {
    position: absolute;
    left: -248px;
    top: -171px;
  }

  .ima_5 {
    position: absolute;
    left: -248px;
    top: -171px;
  }

  .arrowback {
    @extend %boton;
    position: absolute;
    left: 143px;
    top: 805px;
    z-index: 2;
  }

  .arrownext {
    @extend %boton;
    position: absolute;
    left: 925px;
    top: 805px;
    z-index: 2;
  }

  .continuar {
    @extend %boton;
    left: 851px;
    top: 974px;
  }

}

.PG_32 {
  .text_1 {
    position: absolute;
    left: 883px;
    top: 232px;
  }

  .text_2 {
    position: absolute;
    left: 183px;
    top: 443px;
  }

}

.PG_33,
.PG_34 {
  .text_1 {
    position: absolute;
    left: 137px;
    top: 237px;
  }
  .text_1_4 {
    position: absolute;
    left: 137px;
    top: 457px;
}
  .text_2 {
    position: absolute;
    left: 1156px;
    top: -62px;
  }

  .text_2b {
    position: absolute;
    left: 1156px;
    top: -62px;
  }

  .text_3 {
    position: absolute;
    left: 147px;
    top: 528px;
    width: auto;
    height: auto;
    // background: red;
    cursor: pointer;
  }

  .text_4 {
    position: absolute;
    left: 118px;
    top: 768px;
    cursor: pointer;
  }

  .text_5 {
    position: absolute;
    left: 494px;
    top: 528px;
    width: auto;
    height: auto;
    // background: red;
    cursor: pointer;
  }

  .continuar {
    @extend %boton;
    left: 144px;
    top: 865px;
  }
  .continuar1 {
    @extend %boton;
    left: 144px;
    top: 685px;
  }
  
}

.PG_35 {
  .text_1 {
    position: absolute;
    left: 138px;
    top: 327px;
  }

  .text_2 {
    position: absolute;
    left: 1029px;
    top: 8px;
  }

  .text_3 {
    position: absolute;
    left: 148px;
    top: 427px;
  }

  .text_4 {
    position: absolute;
    left: 529px;
    top: 427px;
  }

  .text_5 {
    @extend %boton;
    left: 225px;
    top: 613px;
  }

  .text_6 {
    @extend %boton;
    left: 608px;
    top: 613px;
  }

  .continuar {
    @extend %boton;
    left: 144px;
    top: 761px;
  }

}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0) !important;
}

.PG_36 {
  .text_1 {
    position: absolute;
    left: 883px;
    top: 216px;
  }

  .text_2 {
    position: absolute;
    left: 273px;
    top: 417px;
  }

}

.PG_37 {
  .text_1 {
    position: absolute;
    left: 143px;
    top: 465px;
  }

  .text_2 {
    position: absolute;
    left: 556px;
    top: 8px;
  }

  .continuar {
    @extend %boton;
    left: 144px;
    top: 734px;
  }
}

.PG_38 {
  .text_1 {
    position: absolute;
    left: 218px;
    top: 72px;
  }

  .cont_scroll {
    position: absolute;
    left: 298px;
    top: 229px;
    width: 1327px;
    height: 658px;
    overflow-y: scroll;
    background: #504e4e00;
  }

  /* width */
  .cont_scroll::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  .cont_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .cont_scroll::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Handle on hover */
  .cont_scroll::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  .continuar {
    @extend %boton;
    left: 851px;
    top: 940px;
  }

  .ct_ico {
    position: relative;
    // float: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.PG_39 {
  .text_1 {
    position: absolute;
    left: 167px;
    top: 323px;
  }

  .text_2 {
    position: absolute;
    left: 172px;
    top: 402px;
  }

  .text_3 {
    position: absolute;
    left: 715px;
    top: 7px;
  }

  .text_4 {
    @extend %boton;
    left: 285px;
    top: 608px;
  }

  .continuar {
    @extend %boton;
    left: 186px;
    top: 737px;
  }
}

.PG_40 {
  .text_1 {
    position: absolute;
    left : 860px;
  top : 206px;
  }

  .text_2 {
    position: absolute;
    left : 160px;
  top : 396px;
  }

}
.PG_41 {
  .text_1 {
    position: absolute;
    left: 119px;
    top: 343px;
  }

  .text_2 {
    position: absolute;
    left: 745px;
    top: 7px;
  }

  .continuar {
    @extend %boton;
    left: 118px;
    top: 797px;
  }

}
.PG_42 {
  .text_1 {
    position: absolute;
    left : 11px;
    top : 12px;
  }

  .text_2 {
    position: absolute;
    left : 1138px;
    top : 41px;
  }
  .text_3 {
    position: absolute;
    left : 578px;
    top : 275px;
  }
  .text_4 {
    position: absolute;
    left : 669px;
    top : 432px;
  }

  .continuar1 {
    @extend %boton;
    left : 852px;
  top : 702px;
  }

  .letras {
    img {
      mix-blend-mode: multiply;
    }
  }

  .a {
    position: absolute;
    left: 373px;
    top: 998px;
  }

  .b {
    position: absolute;
    left: 496px;
    top: 925px;
  }

  .c {
    position: absolute;
    left: 693px;
    top: 978px;
  }

  .d {
    position: absolute;
    left: 328px;
    top: 926px;
  }

  .e {
    position: absolute;
    left: 938px;
    top: 998px;
  }

  .f {
    position: absolute;
    left: 1200px;
    top: 986px;
  }

  .g {
    position: absolute;
    left: 1370px;
    top: 924px;
  }



}





















// ========================================================================

.btn {
  @extend %boton;
}
.no-view {
  display: none;
}

.background {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  // cursor: pointer;
}

.gris {
  pointer-events: none;
  -webkit-filter: sepia(70%);
  filter: sepia(70%);
}


section iframe {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 1920px;
  height: 1080px;
  border: none;
}

.reveal iframe {
  z-index: 1;
  border: none;
}

.lazy-widget {
  position: absolute;
  left: 824px;
  top: -124px;
  width: 900px;
  height: 1195px;
  pointer-events: none;
}
.pos_1{
  position: absolute;
  top: 10px;
  left: 885px;
}
.pos_2{
  position: absolute;
  top: 17px;
  left: 1357px;
  // transform: scale(1.2);
  // -webkit-transform: scale(1.2);;
}
.pos_3{
  position: absolute;
  top: 20px;
  left: 1007px;
}
.pos_4{
  position: absolute;
  top: 190px;
  left: 517px;
}
.pos_5{
  position: absolute;
  transform: scale(1.3);
 -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  top: 251px;
    left: 967px;
}
.pos_6 {
  position: absolute;
  top: 120px;
  left: -173px;}

.pos_7 {
  position: absolute;
  top: 130px;
    left: 667px; }

.pos_8 {
  position: absolute;
  top: 130px;
  left: 1137px; }
.pos_10 {
  position: absolute;
  top: 130px;
  left: 1137px; }
.pos_11 {
  position: absolute;
  top: 130px;
  left: 1137px; }
.pos_12 {
  position: absolute;
  top: 240px;
  left: 897px; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #b61924; */
  /* background-image: url((unknown)); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  pointer-events: none;
}

.off {
  background: url(../img/glob/off.png) no-repeat;
  background-size: cover;
}

.on {
  background: url(../img/glob/sound.png) no-repeat;
  background-size: cover;
}

.sound {
  pointer-events: auto !important;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999999999;
}
.guardado {

  .bckg{
    position : absolute ;
    left : 239px;
    top : 159px;
        z-index: 999999999991;
  }
  .textoPop{
    position : absolute ;
    left : 573px;
    top : 472px;
        z-index: 999999999991;
  }
  .continue{
    @extend %boton;
    left : 673px;
    top : 681px;
    z-index: 999999999991;
  }
  .reset{
    @extend %boton;
    left : 995px;
    top : 681px;
        z-index: 999999999991;
  }
}

.scale1 {
  left: -190px;
  top: -76px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}

.scale2 {
  left: 1350px;
  top: 100px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}

// .back0 {
//   position: absolute;
//   top: 990px;
//   left: 850px;
//   cursor: pointer;
// }

.blockeado {
  opacity: 0.7 !important;
  pointer-events: none;
}

.blink-2 {
  -webkit-animation: blink-2 0.9s infinite both;
  animation: blink-2 0.9s infinite both;
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.scaleHum1{
  animation: scalPeople linear 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
  -webkit-animation: scalPeople linear 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
  -moz-animation: scalPeople linear 3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 100%;
  -o-animation: scalPeople linear 3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 100%;
  -ms-animation: scalPeople linear 3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 100%;
}
.scaleHum2{
  animation: scalPeople linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
  -webkit-animation: scalPeople linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
  -moz-animation: scalPeople linear 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 100%;
  -o-animation: scalPeople linear 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 100%;
  -ms-animation: scalPeople linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 100%;
}
.scaleHum0{
  animation: scalPeople linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
  -webkit-animation: scalPeople linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
  -moz-animation: scalPeople linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 100%;
  -o-animation: scalPeople linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 100%;
  -ms-animation: scalPeople linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 100%;
}
@keyframes scalPeople{
  0% {
    transform:  scaleY(1.00) ;
  }
  50% {
    transform:  scaleY(1.01) ;
  }
  100% {
    transform:  scaleY(1.00) ;
  }
}

@-moz-keyframes scalPeople{
  0% {
    -moz-transform:  scaleY(1.00) ;
  }
  50% {
    -moz-transform:  scaleY(1.01) ;
  }
  100% {
    -moz-transform:  scaleY(1.00) ;
  }
}

@-webkit-keyframes scalPeople {
  0% {
    -webkit-transform:  scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  scaleY(1.01) ;
  }
  100% {
    -webkit-transform:  scaleY(1.00) ;
  }
}

@-o-keyframes scalPeople {
  0% {
    -o-transform:  scaleY(1.00) ;
  }
  50% {
    -o-transform:  scaleY(1.01) ;
  }
  100% {
    -o-transform:  scaleY(1.00) ;
  }
}

@-ms-keyframes scalPeople {
  0% {
    -ms-transform:  scaleY(1.00) ;
  }
  50% {
    -ms-transform:  scaleY(1.01) ;
  }
  100% {
    -ms-transform:  scaleY(1.00) ;
  }
}