@import "../vendor/reveal/css/reveal.scss";
@import "../vendor/reveal/css/theme/black.css";
@import "./estilo_1.scss";
@import "./animate.css";
@import "./appearance.css";
@import "toastr";

#scene {
  overflow: hidden;
  // background-color: white;
}

.reveal {
  section,
  #background {
    img {
      max-width: unset;
      max-height: unset;
      margin: 0px;
      border: unset;
      box-shadow: unset;
      background: unset;
    }
  }
}

#background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: initial;
  -webkit-transform: initial;
  -moz-transform: initial;
  -ms-transform: initial;
  -o-transform: initial;
}

#container {
  width: 100%;
}

svg {
  margin: 0px;
}
